
<div class ="jumbotron"
<p><h1>About 1880's Pinterest</h1></p>
<p>1880's Pinterest is an art project by <a href="http://taranadolny.com">Tara Nadolny</a> that asks the very important question: if our great-great-grandmothers were able to waste all of their time on Pinterest, what would they be pinning?</p>
<p>This is an art project and a coding project, so please do not trouble your intellectual property lawyers!"</p>
</div>